/* 此处scss用于调整主题色，需要保持跟ant-design中主题色一致 */
$border-color: #dfe6ec;
$font-family: "Microsoft YaHei", Arial;
$primary-color: #409eff;                         // 全局主色
$link-color: #409eff;                            // 链接色
$success-color: #34c633;                         // 成功色
$warning-color: #ff7c34;                         // 警告色
$error-color: #f56c6c;                           // 错误色
$font-size-base: 14px;                           // 主字号
$heading-color: rgba(0, 0, 0, .85);              // 标题色
$text-color: #666666;                 // 主文本色
$text-color-secondary: #c0c4cc;      // 次文本色
$disabled-color: rgba(0, 0, 0, .25);            // 失效色
$border-radius-base: 4px;                        // 组件/浮层圆角
$border-color-base: $border-color;                     // 边框色
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, .15);  // 浮层阴影
$body-background: #f5f5f5;                         //整体背景
$disabled-bg: #e3e3e3;                             //不可用背景色

/* 此处是项目自定义颜色变量 */
$base-space-size: 8px;
$p100: 100%;
$white: #fff;
$primary-dark-color: #0c6dd1;
$primary-mid-color: #1e7fe4;

